[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/relay-contracts-new"]
	path = lib/relay-contracts-new
	url = https://github.com/symbioticfi/relay-contracts.git
	branch = deploy-script-updates
